<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<chapter id="postlfs-config" xreflabel="后续 LFS 配置问题">
  <?dbhtml filename="config.html"?>

  <title>后续 LFS 配置问题</title>

  <para>
    LFS 的宗旨是提供一个可供您继续构建的基础系统。完成基础安装后，许多人会对系统整理方面的若干问题感到疑惑。我们希望在本章中讨论这些问题。
  </para>

  <para>
    大多数来自非 Unix 背景的 Linux 用户会发现纯文本配置文件的概念有些奇怪。在 Linux 中，几乎所有配置都是通过编辑文本文件来完成的。
    这些文件中的大部分位于 <filename class='directory'>/etc</filename> 目录树中。虽然不同子系统通常有图形化的配置程序可用，但大多数只是编辑文本文件过程的漂亮前端。
    纯文本配置的优势在于，您可以使用自己喜爱的文本编辑器（无论是 <command>vim</command>、<command>emacs</command> 还是其他编辑器）来编辑参数。
  </para>

  <para>
    第一个任务是制作恢复启动设备，参见 <xref linkend="postlfs-config-bootdisk"/>，因为这是最迫切的需求。
    接下来是与固件及其他设备相关的硬件问题。然后配置系统以方便添加新用户，因为这会影响您在后续两个主题（<xref linkend="postlfs-config-profile"/> 和 <xref linkend="postlfs-config-vimrc"/>）中的选择。
  </para>

  <para revision="sysv">
    其余主题依次为 <xref linkend="postlfs-config-logon"/> 和 <xref linkend="postlfs-config-random"/>。
    它们与本章其他主题的关联不大。
  </para>

  <para revision="systemd">
    还有一个主题：<xref linkend="postlfs-config-logon"/>。
    它与本章其他主题的关联不大。
  </para>
<!-- autofs has been moved to sysutils -->

  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="bootdisk.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="console-fonts.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="firmware.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="devices.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="skel.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="users.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="profile.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="vimrc.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="logon.xml"/>

  <!-- sysv only -->
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="random.xml"/>
</chapter>
